# Copy this file to .env and update the values below

# Application Settings
APP_NAME=Lavalust
APP_KEY=20719f5f1c5b5cfc2ab1a930d5127790a7b2628df0d1e86171793340370cbd93
APP_ENV=development

# Database Configuration
DB_HOST=mysql-3ffb58d0-adriandechavez015-f822.j.aivencloud.com
DB_PORT=25918
DB_USER=avnadmin
DB_PASSWORD=**********
DB_NAME=mydb
